*{
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  overflow-x: hidden;
  min-height: 320px;
}

.mdl-layout-title {
  font-weight: 800;
}

.mdl-layout__header {
  background-color: #38506a;
}

.mdl-navigation__link:hover {
  background: #139ac8;
}

.mdl-navigation__link-highlighted {
  background: #139ac8;
}

.mdl-navigation__link-highlighted:hover {
  background: #ff4081;
}

.mdl-button--header {
  margin-left: 12px;
  margin-right: 0px;
}

.mdl-button--header:nth-child(odd) {
  margin-right: 12px;
}

.mdl-button--bottom {
  margin: 0 auto;
}

.mdl-button--raised {
  width: 223px;
  height: 59px;
  -webkit-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  line-height: 59px;
}

.mdl-button--colored {
  background: #139ac8;
}

.mdl-button--accent {
  background: #ff4081;
}

.mdl-button--outline {
  padding: 10px 60px;
  height: auto;
  border: 1px solid #000;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  outline: none;
  background: transparent;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.mdl-button--outline-colored {
  border-color: #139ac8;
  color: #139ac8;
}

.mdl-button--outline-colored:hover {
  border-color: #ff4081;
  color: #ff4081;
}

.mdl-button--outline-accent {
  border-color: #ff4081;
  color: #ff4081;
}

.mdl-button--outline-accent:hover {
  border-color: #139ac8;
  color: #139ac8;
}

.mdl-button--outline:active {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.mdl-button--raised.mdl-button--colored, .mdl-button--raised.mdl-button--colored:active, .mdl-button--raised.mdl-button--colored:focus, .mdl-button--raised.mdl-button--colored:hover {
  background: #139ac8;
}

.mdl-button--raised.mdl-button--colored:focus:not(:active) {
  background: #139ac8;
}

.mdl-cell {
  margin-top: 20px;
  margin-bottom: 20px;
}

.header {
  height: 100vh;
  width: 100%;
  background: url(../img/header.jpg);
  color: #fff;
  text-align: center;
  padding-left: 12px;
  padding-right: 12px;
}

.header-title {
  font-size: 2.57em;
  font-weight: 600;
  padding-top: 40vh;
  text-transform: uppercase;
  line-height: 1em;
}

.header-desc {
  padding: 15px 0;
}

.project {
  text-align: center;
  color: #333333;
}

.project-img {
  width: 100%;
  max-width: 568px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project-title {
  font-size: 2.57em;
  font-weight: 800;
}

.project-desc {
  padding: 20px 0;
}

.footer {
  height: 200px;
  width: 100%;
  margin-top: 70px;
  padding: 50px 0;
  background: #31465d;
  text-align: center;
  color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.footer a{
  color: white;
  text-decoration: none;
}
.footer-title {
  font-size: 1.7em;
  font-weight: 800;
}

.footer-desc {
  font-size: 1.14em;
  padding: 10px 0;
}

.fa {
  font-size: 1.2em;
  margin: 0 10px;
  cursor: pointer;
  transition: all .3s ease;
}

.fa:hover {
  color: #ff4081;
}

@media screen and (max-width: 760px) {
  .header{
    height: auto;
    padding-bottom: 15vh;
  }
  .mdl-button--header {
    margin: 5px 0;
  }
  .mdl-button--header:nth-child(odd) {
    margin-right: 0;
  }
  .header-title {
    padding-top: 20vh;
  }
}
